{
 "cells": [
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2025-10-29T10:28:30.692078200Z",
     "start_time": "2025-10-29T10:28:28.623108400Z"
    }
   },
   "source": [
    "import matplotlib.pyplot as plt\n",
    "\n",
    "from pathlib import Path\n",
    "\n",
    "from promg.modules.db_management import DBManagement\n",
    "from tabulate import tabulate\n",
    "import yaml\n",
    "\n",
    "from promg import Configuration, DatabaseConnection, Performance, SemanticHeader, DatasetDescriptions, OcedPg, Query\n",
    "\n",
    "import numpy as np\n",
    "import pandas as pd\n",
    "\n",
    "pd.set_option('display.width', 2000)\n",
    "import plotly.express as px\n",
    "import plotly.subplots as sp\n",
    "import plotly.graph_objects as go\n"
   ],
   "outputs": [],
   "execution_count": 2
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T10:28:30.769683800Z",
     "start_time": "2025-10-29T10:28:30.715057500Z"
    }
   },
   "cell_type": "code",
   "source": [
    "case_study = 'bpic14'\n",
    "load = False\n"
   ],
   "id": "45443dbb144f4f8e",
   "outputs": [],
   "execution_count": 3
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T10:28:32.605288300Z",
     "start_time": "2025-10-29T10:28:32.511397500Z"
    }
   },
   "cell_type": "code",
   "source": [
    "conf_path = Path(case_study, 'config.yaml')\n",
    "config = yaml.safe_load(open(conf_path))\n",
    "\n",
    "print(f\"These are the credentials that I expect to be set for the database.\")\n",
    "print(f\"db_name: {config['db_name']}\")\n",
    "print(f\"uri: {config['uri']}\")\n",
    "print(f\"password: {config['password']}\")\n",
    "print(\"----------------------\")\n",
    "print(f\"If you have other credentials, please change them at: {conf_path}\")"
   ],
   "id": "6c94ce499db57618",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "These are the credentials that I expect to be set for the database.\n",
      "db_name: neo4j\n",
      "uri: bolt://localhost:7687\n",
      "password: bpic2014\n",
      "----------------------\n",
      "If you have other credentials, please change them at: bpic14\\config.yaml\n"
     ]
    }
   ],
   "execution_count": 4
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T10:28:33.800376500Z",
     "start_time": "2025-10-29T10:28:33.727161Z"
    }
   },
   "cell_type": "code",
   "source": [
    "config = Configuration.init_conf_with_config_file(conf_path)\n",
    "db_connection = DatabaseConnection.set_up_connection(config=config)"
   ],
   "id": "619eb3225e46e0fb",
   "outputs": [],
   "execution_count": 5
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T10:28:34.499261Z",
     "start_time": "2025-10-29T10:28:34.408293200Z"
    }
   },
   "cell_type": "code",
   "source": [
    "if load:\n",
    "    # Import the original modeled data\n",
    "    %run./ 0_analysis_and_model.ipynb"
   ],
   "id": "b610a564ec0436ff",
   "outputs": [],
   "execution_count": 6
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# Check Objects without Any Events",
   "id": "661417e4869b8bd0"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T10:29:59.825035700Z",
     "start_time": "2025-10-29T10:29:58.829172100Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (i)\n",
    "    WHERE not 'Event'  in labels(i) and not 'Log' in labels(i) and not 'Record' in labels(i) and not 'KnowledgeDocument' in labels(i)\n",
    "    RETURN EXISTS((i) <- [] - (:Event)) as has_events, labels(i)[0] as _label, count(i) as cnt order by _label, has_events\n",
    "'''\n",
    "\n",
    "df_result = pd.DataFrame(db_connection.exec_query(query))\n",
    "\n",
    "table = pd.pivot_table(df_result, index=['_label', 'has_events'], aggfunc=\"sum\")\n",
    "table['%'] = (round(table.cnt / table.groupby(level=0).cnt.transform(\"sum\") * 100, 2)).astype(str) + '%'\n",
    "table"
   ],
   "id": "d9357643e09f61e6",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                                 cnt       %\n",
       "_label            has_events                \n",
       "CI_SC             False         2394  15.59%\n",
       "                  True         12962  84.41%\n",
       "Change            False         1307   7.26%\n",
       "                  True         16693  92.74%\n",
       "ConfigurationItem False         2354  15.55%\n",
       "                  True         12780  84.45%\n",
       "Incident          False          441   0.94%\n",
       "                  True         46616  99.06%\n",
       "Interaction       True        147004  100.0%\n",
       "Resource          True           242  100.0%\n",
       "ServiceComponent  False            3   0.88%\n",
       "                  True           337  99.12%"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th>cnt</th>\n",
       "      <th>%</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>_label</th>\n",
       "      <th>has_events</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th rowspan=\"2\" valign=\"top\">CI_SC</th>\n",
       "      <th>False</th>\n",
       "      <td>2394</td>\n",
       "      <td>15.59%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>True</th>\n",
       "      <td>12962</td>\n",
       "      <td>84.41%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th rowspan=\"2\" valign=\"top\">Change</th>\n",
       "      <th>False</th>\n",
       "      <td>1307</td>\n",
       "      <td>7.26%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>True</th>\n",
       "      <td>16693</td>\n",
       "      <td>92.74%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th rowspan=\"2\" valign=\"top\">ConfigurationItem</th>\n",
       "      <th>False</th>\n",
       "      <td>2354</td>\n",
       "      <td>15.55%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>True</th>\n",
       "      <td>12780</td>\n",
       "      <td>84.45%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th rowspan=\"2\" valign=\"top\">Incident</th>\n",
       "      <th>False</th>\n",
       "      <td>441</td>\n",
       "      <td>0.94%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>True</th>\n",
       "      <td>46616</td>\n",
       "      <td>99.06%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Interaction</th>\n",
       "      <th>True</th>\n",
       "      <td>147004</td>\n",
       "      <td>100.0%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Resource</th>\n",
       "      <th>True</th>\n",
       "      <td>242</td>\n",
       "      <td>100.0%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th rowspan=\"2\" valign=\"top\">ServiceComponent</th>\n",
       "      <th>False</th>\n",
       "      <td>3</td>\n",
       "      <td>0.88%</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>True</th>\n",
       "      <td>337</td>\n",
       "      <td>99.12%</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 13,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 13
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Explore some examples",
   "id": "734d76144f7df28c"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T10:31:31.569158600Z",
     "start_time": "2025-10-29T10:31:29.925464600Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (i)\n",
    "    WHERE not 'Event'  in labels(i) and not 'Log' in labels(i) and not 'Record' in labels(i) and not 'KnowledgeDocument' in labels(i) AND NOT EXISTS((i) <- [] - (:Event))\n",
    "    RETURN labels(i)[0] as _label, i.sysId ORDER BY i.sysId\n",
    "'''\n",
    "\n",
    "df_result = pd.DataFrame(db_connection.exec_query(query))\n",
    "df_result"
   ],
   "id": "2e44200b913d3ba9",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                 _label              i.sysId\n",
       "0     ConfigurationItem            ADB000060\n",
       "1                 CI_SC  ADB000060_WBS000253\n",
       "2     ConfigurationItem            ADB000069\n",
       "3                 CI_SC  ADB000069_WBS000253\n",
       "4     ConfigurationItem            ADB000070\n",
       "...                 ...                  ...\n",
       "6494  ConfigurationItem            XSR000047\n",
       "6495              CI_SC  XSR000047_WBS000120\n",
       "6496  ConfigurationItem            XSR000100\n",
       "6497              CI_SC  XSR000100_WBS000120\n",
       "6498              CI_SC    ci_null_WBS000284\n",
       "\n",
       "[6499 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>_label</th>\n",
       "      <th>i.sysId</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>ConfigurationItem</td>\n",
       "      <td>ADB000060</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>CI_SC</td>\n",
       "      <td>ADB000060_WBS000253</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>ConfigurationItem</td>\n",
       "      <td>ADB000069</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>CI_SC</td>\n",
       "      <td>ADB000069_WBS000253</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>ConfigurationItem</td>\n",
       "      <td>ADB000070</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6494</th>\n",
       "      <td>ConfigurationItem</td>\n",
       "      <td>XSR000047</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6495</th>\n",
       "      <td>CI_SC</td>\n",
       "      <td>XSR000047_WBS000120</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6496</th>\n",
       "      <td>ConfigurationItem</td>\n",
       "      <td>XSR000100</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6497</th>\n",
       "      <td>CI_SC</td>\n",
       "      <td>XSR000100_WBS000120</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6498</th>\n",
       "      <td>CI_SC</td>\n",
       "      <td>ci_null_WBS000284</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>6499 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 14
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T11:02:35.713413Z",
     "start_time": "2025-10-29T11:02:16.909315800Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (i:CI_SC)\n",
    "    OPTIONAL MATCH (i) <- [] - (e:Event)\n",
    "    RETURN labels(e)[0] as eventSources, i.sysId as id, EXISTS ((:Incident) - [:CAUSED_BY_CI_SC] -> (i)) as caused_by_incident, EXISTS ((:Incident) - [:AFFECTED_CI_SC] -> (i)) as affected_incident\n",
    "'''\n",
    "\n",
    "result = pd.DataFrame(db_connection.exec_query(query))\n"
   ],
   "id": "750f1974bc086ce6",
   "outputs": [],
   "execution_count": 29
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T11:02:41.755413Z",
     "start_time": "2025-10-29T11:02:41.642702600Z"
    }
   },
   "cell_type": "code",
   "source": [
    "table = pd.pivot_table(result, index=['eventSources'],\n",
    "                       aggfunc={\"id\": \"count\", \"affected_incident\": \"sum\", \"caused_by_incident\": \"sum\"}, dropna=False)\n",
    "table"
   ],
   "id": "4058430855f97348",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                  affected_incident  caused_by_incident      id\n",
       "eventSources                                                   \n",
       "ChangeEvent                    9373               11129   53739\n",
       "IncidentEvent                138038              135921  138038\n",
       "InteractionEvent             289014              287112  294008\n",
       "NaN                               0                1030    2394"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>affected_incident</th>\n",
       "      <th>caused_by_incident</th>\n",
       "      <th>id</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>eventSources</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>ChangeEvent</th>\n",
       "      <td>9373</td>\n",
       "      <td>11129</td>\n",
       "      <td>53739</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>IncidentEvent</th>\n",
       "      <td>138038</td>\n",
       "      <td>135921</td>\n",
       "      <td>138038</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>InteractionEvent</th>\n",
       "      <td>289014</td>\n",
       "      <td>287112</td>\n",
       "      <td>294008</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>NaN</th>\n",
       "      <td>0</td>\n",
       "      <td>1030</td>\n",
       "      <td>2394</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 30,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 30
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# Let's Explore some CI_SC that have no events and no affected nor caused_by incident",
   "id": "86897816efdb8733"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T11:05:07.013402700Z",
     "start_time": "2025-10-29T11:05:04.789403400Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (i:CI_SC)\n",
    "    WHERE NOT (EXISTS((i) <- [] - (:Event)) OR EXISTS((i) <- [] - (:Incident)))\n",
    "    RETURN i.sysId\n",
    "'''\n",
    "\n",
    "pd.DataFrame(db_connection.exec_query(query))\n"
   ],
   "id": "9f830682303c876c",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "                  i.sysId\n",
       "0     HMD000040_WBS000196\n",
       "1     HMD000034_WBS000194\n",
       "2     CBD000704_WBS000146\n",
       "3     MQM000020_WBS000197\n",
       "4     MQM000021_WBS000197\n",
       "...                   ...\n",
       "1359  SSW000120_WBS000197\n",
       "1360  SSW000124_WBS000197\n",
       "1361  SSW000128_WBS000197\n",
       "1362  SSW000130_WBS000197\n",
       "1363  SSW000132_WBS000197\n",
       "\n",
       "[1364 rows x 1 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>i.sysId</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>HMD000040_WBS000196</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>HMD000034_WBS000194</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>CBD000704_WBS000146</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>MQM000020_WBS000197</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>MQM000021_WBS000197</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1359</th>\n",
       "      <td>SSW000120_WBS000197</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1360</th>\n",
       "      <td>SSW000124_WBS000197</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1361</th>\n",
       "      <td>SSW000128_WBS000197</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1362</th>\n",
       "      <td>SSW000130_WBS000197</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1363</th>\n",
       "      <td>SSW000132_WBS000197</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1364 rows × 1 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 31,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 31
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "After exploring, it comes clear that these CI_SC are extracted from the Detail_Change.csv",
   "id": "2b480b50f0634a30"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T11:09:51.400492800Z",
     "start_time": "2025-10-29T11:09:51.250623600Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (i:CI_SC) - [:EXTRACTED_FROM] - (r:Record) <- [:CONTAINS] - (l:Log)\n",
    "    WHERE NOT (EXISTS((i) <- [] - (:Event)) OR EXISTS((i) <- [] - (:Incident)))\n",
    "    RETURN l.name, count(i)\n",
    "'''\n",
    "\n",
    "pd.DataFrame(db_connection.exec_query(query))\n"
   ],
   "id": "24b8ffed58014578",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "              l.name  count(i)\n",
       "0  Detail_Change.csv      1386"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>l.name</th>\n",
       "      <th>count(i)</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>Detail_Change.csv</td>\n",
       "      <td>1386</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 36,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 36
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "In Changes, the mentioned CI_SC are only the CI_SC they have affected. Let's explore the timestamps of these records.",
   "id": "13d5bb1ab60eb5ef"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T11:30:29.559658200Z",
     "start_time": "2025-10-29T11:30:29.324832800Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (i:CI_SC) - [:EXTRACTED_FROM] - (r:Record) <- [:CONTAINS] - (l:Log)\n",
    "    WHERE NOT (EXISTS((i) <- [] - (:Event)) OR EXISTS((i) <- [] - (:Incident)))\n",
    "    RETURN\n",
    "\n",
    "        count(r) as count,\n",
    "        reduce(result = \"\", item in split(r.changeType, \" \")[0..2] | result + \" \" + item) as changeType,\n",
    "        r.changeRecordOpenTime is NOT NULL as record_open,\n",
    "        r.changeRecordCloseTime IS NOT NULL as record_close,\n",
    "        r.plannedStart IS NOT NULL as planned_start,\n",
    "        r.plannedEnd IS NOT NULL as planned_end,\n",
    "        r.actualStart IS NOT NULL as actual_start,\n",
    "        r.actualEnd IS NOT NULL as actual_end ORDER BY count DESC\n",
    "'''\n",
    "\n",
    "pd.DataFrame(db_connection.exec_query(query))\n"
   ],
   "id": "e4b3bd272dc3c43b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "   count          changeType  record_open  record_close  planned_start  planned_end  actual_start  actual_end\n",
       "0   1053        Release Type         True          True           True         True         False       False\n",
       "1    167     Standard Change         True          True           True         True         False       False\n",
       "2    161   Standard Activity         True          True           True         True         False       False\n",
       "3      3       Master Change         True          True           True         True         False       False\n",
       "4      2     Standard Change         True          True           True        False         False       False"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>count</th>\n",
       "      <th>changeType</th>\n",
       "      <th>record_open</th>\n",
       "      <th>record_close</th>\n",
       "      <th>planned_start</th>\n",
       "      <th>planned_end</th>\n",
       "      <th>actual_start</th>\n",
       "      <th>actual_end</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1053</td>\n",
       "      <td>Release Type</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>167</td>\n",
       "      <td>Standard Change</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>161</td>\n",
       "      <td>Standard Activity</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>3</td>\n",
       "      <td>Master Change</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>Standard Change</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 52,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 52
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T11:44:01.865835700Z",
     "start_time": "2025-10-29T11:43:59.585598600Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (r:Record) <- [:CONTAINS] - (l:Log {name:'Detail_Change.csv'})\n",
    "    WHERE r.changeRecordOpenTime IS NOT NULL\n",
    "    RETURN r.actualStart >= r.changeRecordOpenTime as change_after_record, count(DISTINCT r.changeId), avg(duration.inSeconds(r.actualStart, r.changeRecordOpenTime).minutes) as avg_duration\n",
    "'''\n",
    "\n",
    "pd.DataFrame(db_connection.exec_query(query))\n"
   ],
   "id": "5e1c3615cdb1030b",
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "Received notification from DBMS server: <GqlStatusObject gql_status='01G11', status_description='warn: null value eliminated in set function', position=None, raw_classification='UNRECOGNIZED', classification=<NotificationClassification.UNRECOGNIZED: 'UNRECOGNIZED'>, raw_severity='WARNING', severity=<NotificationSeverity.WARNING: 'WARNING'>, diagnostic_record={'_classification': 'UNRECOGNIZED', '_severity': 'WARNING', 'OPERATION': '', 'OPERATION_CODE': '0', 'CURRENT_SCHEMA': '/'}> for query: \"\\n    MATCH (r:Record) <- [:CONTAINS] - (l:Log {name:'Detail_Change.csv'})\\n    WHERE r.changeRecordOpenTime IS NOT NULL\\n    RETURN r.actualStart >= r.changeRecordOpenTime as change_after_record, count(DISTINCT r.changeId), avg(duration.inSeconds(r.actualStart, r.changeRecordOpenTime).minutes) as avg_duration\\n\"\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "  change_after_record  count(DISTINCT r.changeId)  avg_duration\n",
       "0                True                       15984 -21034.136737\n",
       "1                None                        1310           NaN\n",
       "2               False                         708   8547.720102"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>change_after_record</th>\n",
       "      <th>count(DISTINCT r.changeId)</th>\n",
       "      <th>avg_duration</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>True</td>\n",
       "      <td>15984</td>\n",
       "      <td>-21034.136737</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>None</td>\n",
       "      <td>1310</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>False</td>\n",
       "      <td>708</td>\n",
       "      <td>8547.720102</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 76,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 76
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-29T11:45:49.217204100Z",
     "start_time": "2025-10-29T11:45:49.070325900Z"
    }
   },
   "cell_type": "code",
   "source": [
    "query = '''\n",
    "    MATCH (r:Record) <- [:CONTAINS] - (l:Log {name:'Detail_Change.csv'})\n",
    "    WHERE r.changeRecordOpenTime IS NOT NULL AND r.actualStart < r.changeRecordOpenTime\n",
    "    RETURN DISTINCT r.changeId, r.actualStart as actual, r.changeRecordOpenTime as record_open, duration.inSeconds(r.actualStart, r.changeRecordOpenTime).minutes as diff ORDER BY diff DESC limit 100\n",
    "'''\n",
    "\n",
    "pd.DataFrame(db_connection.exec_query(query))\n"
   ],
   "id": "8833491c2518036f",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "   r.changeId                               actual                          record_open    diff\n",
       "0   C00011089  2013-01-13T00:00:00.000000000+01:00  2014-01-13T09:42:00.000000000+01:00  526182\n",
       "1   C00008371  2012-12-05T08:00:00.000000000+01:00  2013-12-05T08:40:00.000000000+01:00  525640\n",
       "2   C00010471  2013-01-07T07:00:00.000000000+01:00  2014-01-06T13:30:00.000000000+01:00  524550\n",
       "3   C00010470  2013-01-07T07:45:00.000000000+01:00  2014-01-06T13:29:00.000000000+01:00  524504\n",
       "4   C00006938  2012-11-27T08:00:00.000000000+01:00  2013-11-21T09:20:00.000000000+01:00  517040\n",
       "..        ...                                  ...                                  ...     ...\n",
       "95  C00008073  2013-12-02T00:00:00.000000000+01:00  2013-12-03T10:57:00.000000000+01:00    2097\n",
       "96  C00015876  2014-02-26T08:00:00.000000000+01:00  2014-02-27T18:11:00.000000000+01:00    2051\n",
       "97  C00006948  2013-11-19T09:00:00.000000000+01:00  2013-11-20T18:30:00.000000000+01:00    2010\n",
       "98  C00011955  2014-01-20T00:00:00.000000000+01:00  2014-01-21T08:56:00.000000000+01:00    1976\n",
       "99  C00000671  2013-07-30T00:00:00.000000000+01:00  2013-07-31T08:10:00.000000000+01:00    1930\n",
       "\n",
       "[100 rows x 4 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>r.changeId</th>\n",
       "      <th>actual</th>\n",
       "      <th>record_open</th>\n",
       "      <th>diff</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>C00011089</td>\n",
       "      <td>2013-01-13T00:00:00.000000000+01:00</td>\n",
       "      <td>2014-01-13T09:42:00.000000000+01:00</td>\n",
       "      <td>526182</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>C00008371</td>\n",
       "      <td>2012-12-05T08:00:00.000000000+01:00</td>\n",
       "      <td>2013-12-05T08:40:00.000000000+01:00</td>\n",
       "      <td>525640</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>C00010471</td>\n",
       "      <td>2013-01-07T07:00:00.000000000+01:00</td>\n",
       "      <td>2014-01-06T13:30:00.000000000+01:00</td>\n",
       "      <td>524550</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>C00010470</td>\n",
       "      <td>2013-01-07T07:45:00.000000000+01:00</td>\n",
       "      <td>2014-01-06T13:29:00.000000000+01:00</td>\n",
       "      <td>524504</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>C00006938</td>\n",
       "      <td>2012-11-27T08:00:00.000000000+01:00</td>\n",
       "      <td>2013-11-21T09:20:00.000000000+01:00</td>\n",
       "      <td>517040</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>95</th>\n",
       "      <td>C00008073</td>\n",
       "      <td>2013-12-02T00:00:00.000000000+01:00</td>\n",
       "      <td>2013-12-03T10:57:00.000000000+01:00</td>\n",
       "      <td>2097</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>96</th>\n",
       "      <td>C00015876</td>\n",
       "      <td>2014-02-26T08:00:00.000000000+01:00</td>\n",
       "      <td>2014-02-27T18:11:00.000000000+01:00</td>\n",
       "      <td>2051</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>97</th>\n",
       "      <td>C00006948</td>\n",
       "      <td>2013-11-19T09:00:00.000000000+01:00</td>\n",
       "      <td>2013-11-20T18:30:00.000000000+01:00</td>\n",
       "      <td>2010</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>98</th>\n",
       "      <td>C00011955</td>\n",
       "      <td>2014-01-20T00:00:00.000000000+01:00</td>\n",
       "      <td>2014-01-21T08:56:00.000000000+01:00</td>\n",
       "      <td>1976</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>99</th>\n",
       "      <td>C00000671</td>\n",
       "      <td>2013-07-30T00:00:00.000000000+01:00</td>\n",
       "      <td>2013-07-31T08:10:00.000000000+01:00</td>\n",
       "      <td>1930</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>100 rows × 4 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 77,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 77
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}